{% extends "base.html" %}

{% block content %}

{% url 'processes:create_service_task' as new_task_url %}

<div class='container'>
	<h1> Service Tasks </h1>
	<div class='row'>
	        <div class='col-12'>
				<a class="btn btn-primary" href="{{ new_task_url }}" role="button">New Service Task</a>

	        </div>
	    </div>
	<div class='row'>
		<div class='col-12 col-md-6'>
			<h2> Service Task List </h2>
			
			<table>
				<tr><th>Service Task Name</th><th>Application</th><th>Calc Schema</th></tr>
				{% for obj in object_list %}
					<tr>
						<col width=200><col width=200>
						<td>
							<a href='{{ obj.get_absolute_url }}'> {{ obj.name }} </a> <br>
						</td>
						<td>
							<a href='{{ obj.application.get_absolute_url }}'> {{ obj.application.name }} </a> <br>
						</td>
						<td>
							<a href='{{ obj.calcschema.get_absolute_url }}'> {{ obj.calcschema.name }} </a> <br>
						</td>
					</tr>

				{% endfor %}
		</div>
	</div>
</div>

{% endblock %}