{% extends "base.html" %}

{% block content %}

<style type="text/css">
	.numberbox {
    	width: 5em;
	}
</style>


	<div class='container'>
		<div class='row'>
			<div class='col-12 col-md-6'>
					<h1> Service Tasks </h1>
				<div class='row'>
					<div class='col-12'>
						{% if object %}
							{% include 'processes/navbar.html' with objects=service_tasks active_id=object.id object_type='service_tasks' %}
						{% else %}
							{% include 'processes/navbar.html' with objects=service_tasks object_type='service_tasks' %}
						{% endif %}

					</div>
				</div>

				<div class='row mt-3'>
					<div class='col-12'>
						{% if object %}
							<!--<h1> {{ object.name }} </h1>-->
							{% include 'processes/form.html' with form=form object=object  form_class='service-task-form'  %}
						{% else %}
							<!--<h1> New Calc Schema </h1>-->
							{% include 'processes/form.html' with form=form  form_class='service-task-form'  %}
						{% endif %}

						
					</div>
				</div>
			</div>

			<div class='col-12 col-md-6'>
				<h1>Calculate Efforts</h1>

				

				<div class='row'>
					<div class='col-12'>
						{% if calc_schema_object %}
							{% include 'calcschemas/navbar.html' with objects=calc_schemas active_id=calc_schema_object.id object_type='calc_schemas' %}
						{% else %}
							{% include 'calcschemas/navbar.html' with objects=calc_schemas object_type='calc_schemas' %}
						{% endif %}
					</div>
				</div>

				<div class='row'>
					<div class='col-12 mt-3'>
	
						<form class="service-task-calculation-form" method='POST' action="#">
						<table>
							<tr><th><label for="id_calc_effort">Total effort:</label></th><td><input type="text" name="name" maxlength="10" id="id_calc_effort" readonly size="5"> in h /</td><td><input type="text" name="name" maxlength="10" id="id_calc_effort_d" readonly size="5"> in days</td></tr>
							<tr><th><label for="id_calc_size">Size:</label></th><td><input type="text" name="name" maxlength="10" id="id_calc_size" readonly size="5"></td><td><button type='reset' name='refresh' class='btn btn-default'>Refresh</button></td></tr>
						</table>
						</form>
						<hr>
					</div>
				</div>
				
				<div class='row'>
					<div class='col-12'>

						{% if calc_schema_object %}
							{% include 'calcschemas/form.html' with form=calc_schema_form object=calc_schema_object form_class='calc-schema-form' %}
						{% else %}
							{% include 'calcschemas/form.html' with form=calc_schema_form object=None form_class='calc-schema-form' %}
						{% endif %}

					</div>
				</div>
			</div>
		</div>
	</div>



{% endblock %}

{% block javascript %}

<script type="text/javascript">
	$(document).ready(function() {
    // using jQuery
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });
});
</script>

<script type="text/javascript">
	
	$(document).ready(function() {

		function prepareForm(documentForm, check_ref, referenceForm) {

			var deleteBtn = documentForm.find("[name='delete']");
		
			function send_ref_form() {
				var referenceFormMethod = referenceForm.attr("method");
				var referenceFormEndpoint = referenceForm.attr("action");
				var referenceFormData = referenceForm.serialize();
				$.ajax({
					method: referenceFormMethod,
					url: referenceFormEndpoint,
					data: referenceFormData,
					success: function(data) {
						send_form(data.id);
					},
					error: function(errorData) {

						var jsonData = errorData.responseJSON;
						var msg = errorData.responseJSON.msg;

						//$.each(jsonData, function(key, value) { // key, value VS array index, object
						//	msg += key + ": " + value[0].message + "<br/>";
						//});

						$.alert({
							title: "Oops!",
							content: msg,
							theme: "modern"});
					}
				});
			}

			function get_ref() {
				var calc_schema_list = $('.nav.calc_schemas');
				var calc_schema_active = calc_schema_list.find("a.model-object.active");
				var object_id = calc_schema_active.attr("model-object-id");
				if ('undefined' !== typeof object_id) {
					return object_id
				}
				return ""
			}

			function send_form(reference_id) {
				var documentFormMethod = documentForm.attr("method");
				var documentFormEndpoint = documentForm.attr("action");
				var documentFormData = documentForm.serialize();

				if (check_ref) {
					documentFormData = documentFormData + "&reference=" + reference_id;
				}

				$.ajax({
					method: documentFormMethod,
					url: documentFormEndpoint,
					data: documentFormData,
					success: function(data) {

						//setTimeout(function() {
						//	displaySubmitting(documentFormSubmitBtn, documentFormSubmitBtnTxt, false)}, 500);

						//documentForm[0].reset();
						$.alert({
							title: "Success!",
							// content: data.form_saved,
							content: data.msg,
							theme: "modern"});
					},
					error: function(errorData) {
						console.log(errorData.responseJSON);

						//setTimeout(function() {
						//	displaySubmitting(documentFormSubmitBtn, documentFormSubmitBtnTxt, false)}, 500);

						var jsonData = errorData.responseJSON;
						var msg = "";

						$.each(jsonData, function(key, value) { // key, value VS array index, object
							msg += key + ": " + value[0].message + "<br/>";
						});

						$.alert({
							title: "Oops!",
							content: "msg",
							theme: "modern"});
					}
				});
			}


			documentForm.submit(function(event) {
				event.preventDefault();

				
				
				send_ref_form();

				
			});


			function redirectToNext(nextPath, timeoffset) {
				if (nextPath) {
					setTimeout(function(){
						window.location.href = nextPath;
					}, timeoffset);
				}
			}


			deleteBtn.click(function(event) {

				
				var documentFormDeleteEndpoint = documentForm.attr("delete");
				var nextUrl = documentForm.attr('data-next-url');
				var documentFormData = documentForm.serialize();

				$.ajax({
					method: "DELETE",
					url: documentFormDeleteEndpoint,
					data: documentFormData,
					success: function(data) {

						//setTimeout(function() {
						//	displaySubmitting(documentFormSubmitBtn, documentFormSubmitBtnTxt, false)}, 500);

						//documentForm[0].reset();
						$.alert({
							title: "Success!",
							// content: data.form_saved,
							content: data.msg,
							theme: "modern"});
						redirectToNext(nextUrl, 1500);
					},
					error: function(errorData) {
						console.log(errorData.responseJSON);

						//setTimeout(function() {
						//	displaySubmitting(documentFormSubmitBtn, documentFormSubmitBtnTxt, false)}, 500);

						var jsonData = errorData.responseJSON;
						var msg = "";

						$.each(jsonData, function(key, value) { // key, value VS array index, object
							msg += key + ": " + value[0].message + "<br/>";
						});

						$.alert({
							title: "Oops!",
							content: "msg",
							theme: "modern"});
					}
				});
			});
		}

		var serviceTaskForm = $(".service-task-form");
		var calcSchemaForm = $(".calc-schema-form");
		prepareForm(serviceTaskForm, true, calcSchemaForm);

		calcSchemaForm.find(".form-control-buttons").remove();
		//prepareForm(calcSchemaForm, false);
		


	});

</script>

<script type="text/javascript">

	$(document).ready(function() {

		var calculationForm = $(".service-task-calculation-form");
		var refreshBtn = calculationForm.find("[name='refresh']");

		var size_field = $("#id_calc_size");
		var effort_field = $("#id_calc_effort");
		var effort_field_d = $("#id_calc_effort_d");

		var size_m = parseInt($("#id_size_m").val());
		var size_l = parseInt($("#id_size_l").val());
		


		function calculateSize() {

			var size = 0;

			size = size + parseInt($("#id_panel_count").val());
			size = size + parseInt($("#id_input_field_count").val());
			size = size + parseInt($("#id_button_count").val());
			size = size + parseInt($("#id_dropdown_count").val());
			size = size + parseInt($("#id_checkbox_count").val());
			size = size + parseInt($("#id_radio_button_count").val());
			size = size + parseInt($("#id_file_input_count").val());

			size = size * parseInt($("#id_gateway_count").val());

			var size_selection = 'X';

			if (size >= size_l) {
				size_selection = 'L';
			} else if (size >= size_m) {
				size_selection = 'M';
			} else {
				size_selection = 'S';
			}

			return size_selection;

		}

		function calculateEfforts(size) {

			var effort = 0;

			effort = effort + parseInt($("#id_panel_base_effort").val()) * parseInt($("#id_panel_count").val());
			effort = effort + parseInt($("#id_input_field_base_effort").val()) * parseInt($("#id_input_field_count").val());
			effort = effort + parseInt($("#id_button_base_effort").val()) * parseInt($("#id_button_count").val())
			effort = effort + parseInt($("#id_dropdown_base_effort").val()) * parseInt($("#id_dropdown_count").val());
			effort = effort + parseInt($("#id_checkbox_base_effort").val()) * parseInt($("#id_checkbox_count").val());
			effort = effort + parseInt($("#id_radio_button_base_effort").val()) * parseInt($("#id_radio_button_count").val());
			effort = effort + parseInt($("#id_file_input_base_effort").val()) * parseInt($("#id_file_input_count").val());


			if (size == 'L') {
				size_factor = parseFloat($("#id_effort_factor_l").val());;
			} else if (size == 'M') {
				size_factor = parseFloat($("#id_effort_factor_m").val());;
			} else {
				size_factor = parseFloat($("#id_effort_factor_s").val());;
			}

			effort = effort * size_factor;

			return effort;
		}

		function refreshCalculation() {

			
			var size = calculateSize();
			size_field.val(size);

			
			var effort = calculateEfforts(size);
			effort_field.val(effort);
			effort_field_d.val(effort / 8);

		}
	
		$(".service-task-form").find("input").change(refreshCalculation);

		
		refreshBtn.click(function(event) {
			event.preventDefault();
			refreshCalculation();
		});

		refreshCalculation();
	});

</script>


<script type="text/javascript">

	$(document).ready(function() {

		var calculationForm = $(".calc-schema-form");
		var calculationNav = $(".nav.calc_schemas");
		var anker = calculationNav.find(".dropdown-menu").find("a.model-object");
		var anker_new = calculationNav.find(".dropdown-menu").find("a.model-object-new");
		var getCalcSchemaEndpoint = "{% url 'calcschemas:get_calc_schema' %}";

		function change_active(object_id) {
			var calc_schema_list = $('.calc_schemas');
			var calc_schema_active_rm = calc_schema_list.find("a.model-object.active");
			calc_schema_active_rm.removeClass("active");
			anker_new.removeClass("active");
			if (object_id == "new") {
				anker_new.addClass("active");
			} else {
				var calc_schema_active_add = calc_schema_list.find("a.model-object[model-object-id=" + object_id + "]");
				calc_schema_active_add.addClass("active");
			}
		}


		anker.click(function(event) {
			event.preventDefault();
			
			var documentFormData = "calc_schema_id=" + $(this).attr("model-object-id");
			var new_action = $(this).attr("action");

			$.ajax({
				method: "POST",
				url: getCalcSchemaEndpoint,
				data: documentFormData,
				success: function(data) {

					//setTimeout(function() {
					//	displaySubmitting(documentFormSubmitBtn, documentFormSubmitBtnTxt, false)}, 500);

					//documentForm[0].reset();
					//console.log($(".calc-schema-form").text());
					//console.log($(".calc-schema-form").find("#id_name").text());
					//console.log(data.name);

					console.log(data.name);
					$(".calc-schema-form").find("#id_name").replaceWith('<div id="id_name"><b><u>' + data.name + '</u></b></div>');
					//$(".calc-schema-form").find("#id_name").text(data.name);

					$("#id_size_m").val(data.size_m);
					$("#id_size_l").val(data.size_l);

					$("#id_effort_factor_s").val(data.effort_factor_s);
					$("#id_effort_factor_m").val(data.effort_factor_m);
					$("#id_effort_factor_l").val(data.effort_factor_l);

					$("#id_panel_base_effort").val(data.panel_base_effort);
					$("#id_input_field_base_effort").val(data.input_field_base_effort);
					$("#id_button_base_effort").val(data.button_base_effort);
					$("#id_dropdown_base_effort").val(data.dropdown_base_effort);
					$("#id_checkbox_base_effort").val(data.checkbox_base_effort);
					$("#id_radio_button_base_effort").val(data.radio_button_base_effort);
					$("#id_file_input_base_effort").val(data.file_input_base_effort);

					console.log("action: " + new_action)
					calculationForm.attr("action", new_action);

					change_active(data.id);

					//redirectToNext(nextUrl, 1500);
				},
				error: function(errorData) {
					console.log(errorData.responseJSON);

					//setTimeout(function() {
					//	displaySubmitting(documentFormSubmitBtn, documentFormSubmitBtnTxt, false)}, 500);

					var jsonData = errorData.responseJSON;
					var msg = "";

					$.each(jsonData, function(key, value) { // key, value VS array index, object
						msg += key + ": " + value[0].message + "<br/>";
					});

					$.alert({
						title: "Oops!",
						content: "msg",
						theme: "modern"});
				}
			});
		});

		anker_new.click(function(event) {
			event.preventDefault();

			$(".calc-schema-form").find("#id_name").replaceWith('<input type="text" name="name" maxlength="120" required id="id_name">');

			$("#id_size_m").val("25");
			$("#id_size_l").val("100");

			$("#id_effort_factor_s").val("1");
			$("#id_effort_factor_m").val("1.5");
			$("#id_effort_factor_l").val("3");

			$("#id_panel_base_effort").val("0");
			$("#id_input_field_base_effort").val("0");
			$("#id_button_base_effort").val("0");
			$("#id_dropdown_base_effort").val("0");
			$("#id_checkbox_base_effort").val("0");
			$("#id_radio_button_base_effort").val("0");
			$("#id_file_input_base_effort").val("0");

			calculationForm.attr("action", new_action);

			change_active("new");

		});

	});


</script>

<script type="text/javascript">
	var calc_schema_app = $(".calc-schema-form").find("#id_application");
	var service_task_app = $(".service-task-form").find("#id_application");

 	calc_schema_app.change(function () {
		service_task_app.val($(this).val());
    });

	service_task_app.change(function () {
		calc_schema_app.val($(this).val());
    });

</script>


{% endblock %}


